$clr1: #002b49;
$clr2: #e12121;
// $clr2: #008080;
// $clr2: #2c3e50;
$clrg: #959baf;
$clrf: #333333;

$font-gv: "Great Vibes", cursive;
$font-pop: "Poppins", sans-serif;
$font-os: "Open Sans", sans-serif;
$font-ral: "Raleway", sans-serif;
