@import "../../../../components/sass/layout";

.ClientLogo {
  width: 80vw;
  margin: auto;
  padding: 3rem 0;

  h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
  }
}
.ClientLogo_container {
  //   display: grid;
  //   grid-template-columns: repeat(7, 1fr);
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  flex-flow: wrap;

  > div {
    width: 9.5%;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .ClientLogo {
    width: 80vw;
  }
  .ClientLogo_container {
    gap: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .ClientLogo {
    width: 90vw;
  }
  .ClientLogo_container {
    gap: 1rem;
  }
}
