@import "../../sass/layout";

.PrivacyPolicy {
  margin: 2rem auto !important;
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 15px;
  }

  h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
  }
  h4 {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }

  ul {
    color: #666;
    padding-left: 20px;
    font-size: 14px;
  }

  ul li {
    margin-bottom: 5px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
