@import "../../../sass/layout";

.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/hero.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h5 {
    font-size: 5rem;
    font-family: $font-gv;
    color: $clr2;
    line-height: 2rem;
  }
  h1 {
    font-size: 6rem;
    font-family: $font-pop;
    color: white;
    letter-spacing: 1px;
  }
  text-align: center;
  p {
    color: white;
    font-size: 2rem;
    padding: 0 2rem;
  }

  .hero-btn {
    margin: 3rem 0;
    a {
      font-size: 1.5rem;
      font-family: $font-pop;
      margin: 0 1rem;

      border: 2px solid $clr2;
      color: white;
      border-radius: 100px;
      padding: 0.7rem 1.3rem;
      transition: all 0.5s ease;

      &:hover {
        background-color: $clr2;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .hero {
    height: 70vh;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    height: 40vh;
  }
  .hero-content {
    h5 {
      font-size: 3.5rem;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
      padding: 0 1rem;
    }

    .hero-btn {
      margin: 2.5rem 0;
      a {
        font-size: 1rem;
        font-family: $font-pop;
        margin: 0 0.5rem;

        padding: 0.7rem 1.3rem;
      }
    }
  }
}
