@import "../../../sass/layout";

.au4 {
  background: url("/images/bg.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h5 {
      font-size: 5rem;
      margin-bottom: 3rem;
    }
    & > p {
      padding: 0 10rem;
      font-size: 1.7rem;
      text-align: center;
      margin-bottom: 4rem;
      color: $clrg;
    }
  }
}

.au4-cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.au4-card {
  padding: 2rem;
  box-shadow: 2px 2px 15px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  span {
    font-size: 4rem;
    background-color: $clr1;
    height: 9rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    margin-bottom: 0;
    font-size: 1.7rem;
    text-align: center;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1023px) and (min-width: 501px) {
  .au4-cards {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .au4 > div > p {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .au4-cards {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .au4 > div > p {
    padding: 0;
    margin-bottom: 1rem;
  }
  .au4 > div > h5 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}
