@import "../../../sass/layout";

.is1 {
  width: 70vw;
  margin: auto;
  padding: 8rem 0;
}

.is1-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.is1-left,
.is1-right {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0;
    padding-right: 4rem;

    &:nth-child(2) {
      margin-top: 0rem;
    }
  }
}
.is1-right {
  div {
    box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .is1 {
    width: 90vw;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .is1 {
    width: 90vw;
  }

  .is1-main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    height: auto;
  }

  .is1-left {
    h3,
    p {
      text-align: center;
      padding: 0;
    }
    h3 {
      font-size: 3.2rem;
    }
  }
}
