.BlogPost {
  .heading {
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .heading-content {
    width: 75%;
    margin: 0 auto 1rem auto;
    h1 {
      width: 70%;
      font-size: 4rem !important;
      color: white;
    }
  }
  .postContent {
    width: 75%;
    margin: 3rem auto 50px auto;
    * {
      margin-bottom: 1.5rem;
    }
    img {
      margin: 0;
    }
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 2.9rem;
    }
    h4 {
      font-size: 2.6rem;
    }
    h5 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.5rem;
    }

    img {
      max-width: 100%;
    }
  }
}
