@import "../components/sass/layout";

nav {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  perspective: 100rem;
  z-index: 10;
  padding: 1rem 0;
}

.brand {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;

  img {
    width: 100%;
  }
}

.navbar {
  display: flex;
  flex: 3;
  justify-content: space-evenly;
}

.navlinks {
  display: flex;
  flex: 0.7;
  height: 100%;
  justify-content: space-evenly;
  padding: 0 6rem;
}

.navlink {
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;

  span {
    background-color: $clr1;
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 50%;
    left: 0;
    bottom: -0.5rem;
    transform: rotateY(-90deg);
    transition: transform 0.4s ease;
  }

  a {
    font-family: $font-pop;
    color: $clr1;
    transition: color 0.4s ease;
  }

  &:hover {
    a {
      color: $clr2;
    }
  }
}

.submenu-hp {
  display: block;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  position: absolute;
  left: -3rem;
  background-color: white;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all 0.2s ease-in;
  width: 165px;

  top: 3rem;

  li {
    margin: 0.5rem 0;
    text-align: center;
  }

  a {
    color: $clr1;

    &:hover {
      color: $clr2;
    }
  }
}

.submenu-hp-open {
  transform: rotateX(0deg) !important;
}

.nav-icons {
  flex: 1;
  display: flex;
  font-size: 2rem;

  a,
  a:active,
  a:visited {
    margin: 0 0.7rem;
    cursor: pointer;
    transition: color 0.4s ease;
    color: $clr1;

    &:hover {
      color: $clr2;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .ham {
    display: flex;
    position: relative;
    width: 34px;
    height: 50%;
    z-index: 9999999;

    span {
      width: 15px;
      height: 2px;
      background-color: $clr1;
      margin: 0.5rem;
      position: absolute;
      border-radius: 100%;
      transition: all 0.5s ease;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
      }

      &:nth-child(3) {
        top: calc(40% - 3px);
        left: 0;
      }

      &:nth-child(4) {
        top: calc(40% - 3px);
        right: 0;
      }

      &:nth-child(5) {
        bottom: 0;
        left: 0;
      }

      &:nth-child(6) {
        bottom: 0;
        right: 0;
      }
    }
  }

  .ham-open {
    span {
      background-color: $clr1 !important;

      &:nth-child(1) {
        transform: rotate(405deg) translateY(0.3rem) translateX(0.3rem) !important;
      }

      &:nth-child(2) {
        transform: rotate(-405deg) translateY(0.3rem) translateX(-0.3rem);
      }

      &:nth-child(3) {
        transform: scale(0);
      }

      &:nth-child(4) {
        transform: scale(0);
      }

      &:nth-child(5) {
        transform: rotate(-405deg) translateY(-0.3rem) translateX(0.3rem);
      }

      &:nth-child(6) {
        transform: rotate(405deg) translateY(-0.3rem) translateX(-0.3rem);
      }
    }
  }

  nav {
    position: relative;
    padding: 0 3rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex: unset;
    background-color: white;
    padding: 0;
    align-items: center;
    transition: all 0.8s ease;
    transform-origin: left;
    transform: rotateY(120deg);
  }

  .navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
  }

  .navlink {
    font-size: 1.9rem;
    position: relative;

    p {
      color: red;
    }

    a {
      font-family: $font-pop;
      color: $clr1;
      transition: color 0.4s ease;
    }
  }

  .nav-icons {
    flex: 1;
    display: flex;
    font-size: 3rem;

    li {
      color: $clr1;
      margin: 0 1rem;
    }
  }

  nav {
    height: 60px;
    background-color: white;
  }

  .brand {
    justify-content: flex-start;
  }

  .logo {
    width: 90px;
  }

  .submenu-hp {
    padding: 0 2rem;
    top: 5rem;
    left: -4rem;
    border: 1px solid $clr1;
    width: 220px;
  }
}

@media only screen and (max-width: 500px) {
  .submenu-hp {
    width: 220px;
    padding: 0 2rem;
    top: 4rem;
    left: -4rem;
    border: 1px solid $clr1;
  }

  nav {
    height: 60px;
    background-color: white;
  }

  .brand {
    justify-content: flex-start;
  }

  .logo {
    width: 60px;
  }

  .ham {
    display: flex;
    position: relative;
    width: 34px;
    height: 50%;
    z-index: 9999999;

    span {
      width: 15px;
      height: 2px;
      background-color: white;
      margin: 0.5rem;
      position: absolute;
      border-radius: 100%;
      transition: all 0.5s ease;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
      }

      &:nth-child(3) {
        top: calc(40% - 3px);
        left: 0;
      }

      &:nth-child(4) {
        top: calc(40% - 3px);
        right: 0;
      }

      &:nth-child(5) {
        bottom: 0;
        left: 0;
      }

      &:nth-child(6) {
        bottom: 0;
        right: 0;
      }
    }
  }

  .ham-open {
    span {
      background-color: black !important;

      &:nth-child(1) {
        transform: rotate(405deg) translateY(0.3rem) translateX(0.3rem) !important;
      }

      &:nth-child(2) {
        transform: rotate(-405deg) translateY(0.3rem) translateX(-0.3rem);
      }

      &:nth-child(3) {
        transform: scale(0);
      }

      &:nth-child(4) {
        transform: scale(0);
      }

      &:nth-child(5) {
        transform: rotate(-405deg) translateY(-0.3rem) translateX(0.3rem);
      }

      &:nth-child(6) {
        transform: rotate(405deg) translateY(-0.3rem) translateX(-0.3rem);
      }
    }
  }

  nav {
    position: relative;
    padding: 0 3rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex: unset;
    background-color: white;
    padding: 0;
    align-items: center;
    transition: all 0.8s ease;
    transform-origin: left;
    transform: rotateY(110deg);
  }

  .navbar-open {
    transform: rotateY(0) !important;
  }

  .navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
  }

  .navlink {
    font-size: 1.9rem;
    position: relative;

    a {
      font-family: $font-pop;
      color: $clr1;
      transition: color 0.4s ease;
    }
  }

  .nav-icons {
    flex: 1;
    display: flex;
    font-size: 3rem;

    li {
      color: $clr1;
    }
  }
}
