@import "../components/sass/layout";

.p-img {
  height: 300px;
  overflow: hidden;
}

.post-hero {
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/au-hero.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  p {
    color: rgba(212, 212, 212, 0.692);
    font-size: 4rem;
    top: 50%;
    left: 10%;
    font-family: $font-pop;
    font-weight: 700;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.356);
  }
}
.post-content {
  p {
    font-family: $font-ral;
    font-size: 1.7rem;
    line-height: 2.3rem;
    padding: 0.4rem 0;
    text-align: justify;
    margin: 0.7rem 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .post-content {
    p {
      margin: 0.7rem 1rem;
    }
  }
}
