@import "../../../sass/layout";

.au6 {
  padding: 5rem;
  background: url("/images/bg.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  h5 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.au6-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;

  p {
    font-size: 1.7rem;
    color: $clrg;
    text-align: justify;
    line-height: 3rem;
  }
}

.au6-img {
  height: 100%;
  background: url("/images/au6.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.329);
  border-radius: 30px;
}
@media screen and (max-width: 1023px) and (min-width: 501px) {
  .au6 {
    padding: 6rem 0;
  }
  .au6-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .au6 {
    padding: 3rem 0;
    h5 {
      font-size: 3.5rem;
    }
  }
  .au6-container {
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    p {
      padding: 0 1rem;
    }
  }

  .au6-img {
    height: 200px;
    margin: 0 2rem;
  }
}
