@import "../../../sass/layout";

.au5 {
  padding: 8rem 0;
  text-align: center;
  background: url("/images/bg2.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  h5 {
    font-size: 5rem;
  }
  p {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: $clrg;
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
}

@media only screen and (max-width: 500px) {
  .au5 {
    padding: 5rem 0 0 0;
    h5 {
      font-size: 3rem;
    }
  }
}
