@import "../../../sass/layout";
.c2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding-bottom: 2rem;
  background: url("/images/bg2.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 3rem !important;
}
.c-card {
  background-color: white;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.329);
  padding: 2rem 4rem;
  h5 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  a {
    color: $clr1;
    font-weight: 600;
  }
  p,
  li {
    font-size: 1.7rem;
    color: $clrg;
    line-height: 3rem;
    text-align: left;
  }

  em {
    font-weight: 700;
  }
}

span {
  font-size: 2rem;
  color: $clr1;
  padding-right: 1rem;
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
}

@media only screen and (max-width: 500px) {
  .c-card {
    h5 {
      font-size: 2.5rem;
    }
  }
}
