@import "../../../sass/layout";

.au2 {
  background-color: white;
  padding: 2em 0;
}

.au2-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: 6rem;
    padding: 1rem 0;
    letter-spacing: 1px;
  }
}

.facs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}
.fac {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fac-img {
  width: 100%;
  &:hover {
    border: 4px solid $clr1;
    transform: scale(1.03);
  }
}

.fac-icons {
  margin-top: -1rem;
  background-color: $clr1;
  width: 80%;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  a {
    font-size: 1.7rem;
    width: 3rem;
    height: 3rem;
    color: white;
    border: 1px solid white;
    margin: 0 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
    &:hover {
      color: $clr1;
      background-color: white;
      transform: rotate(360deg);
    }
  }
}

.fac-details {
  h4 {
    text-align: center;
    font-size: 2.3rem;
    font-family: $font-pop;
    font-weight: 400;
    margin: 1rem 0 -0.3rem 0;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    color: $clr1;
  }
}
@media screen and (max-width: 1023px) and (min-width: 501px) {
  .fac-icons {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .facs {
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 2rem;
  }
}
