@import "../../../sass/layout";

.is2 {
  width: 80vw;
  margin: auto;
  h5 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.is2-up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  grid-row-gap: 2rem;

  & > div {
    color: red;
    background-color: #f7f9fb;
    border: 1px solid rgba(201, 201, 201, 0.5);
    border-radius: 5px;
    padding: 4rem 1rem 4rem 1rem;
    transition: all 0.3s ease;
    h4,
    h5,
    p {
      padding: 0.2rem 0;
      text-align: center;
    }

    h4 {
      font-size: 5rem;
      color: $clr1;
    }

    h5 {
      font-size: 1.9rem;
    }

    p {
      font-size: 1.3rem;
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
      background-color: $clr1;
      h4,
      h5,
      p {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .is2-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .is2 {
    margin-top: 3rem;
    h5 {
      font-size: 4rem;
    }
  }
  .is2-up {
    grid-template-columns: 1fr;
  }
  p {
    text-align: center;
  }
}
