@import "../../../sass/layout";

.is6 {
  margin-top: 3rem;
  margin-bottom: 4rem;

  h5 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.is6-cont {
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  .swiperNav {
    width: 100%;
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 2rem;
    font-size: 5rem;
    cursor: pointer;
    i {
      transition: all 0.1s ease-in;
      &:hover {
        color: $clr1;
      }
    }
  }
}

// .test-cont {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 3rem;
// }

.test {
  height: 500px;

  padding: 50px 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-img {
  width: 150px;
  border: 5px solid $clr1;
  border-radius: 100%;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.test-name {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: $font-gv;
}

.test-test {
  font-size: 1.4rem;
  text-align: center;
  font-family: $font-pop;
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .is6-cont {
    width: 90vw;
  }

  .test-img {
    width: 130px;
  }

  .test {
    height: fit-content;
    width: 100%;
  }

  .test-name {
    font-size: 3.5rem;
  }

  .test-test {
    font-size: 1.3rem;
  }

  .test-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .is6-cont {
    width: 90vw;
  }

  .test-img {
    width: 130px;
  }

  .test {
    width: 100%;
    height: fit-content;
  }

  .test-name {
    font-size: 3.5rem;
  }

  .test-test {
    font-size: 1.3rem;
  }

  .test-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}
