@import "../../../sass/layout";

.au1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem 0;
  column-gap: 2rem;
}

.miss {
  h5,
  h4 {
    display: inline;
  }

  h5 {
    font-family: $font-gv;
    font-size: 7rem;
    color: $clr1;

    span {
      font-family: $font-pop;
      font-weight: 500;
      font-size: 2.7rem;
    }
  }

  p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
.au1-img {
  height: 50%;
  -webkit-box-shadow: 0px 0px 23px -9px rgba(186, 186, 186, 1);
  -moz-box-shadow: 0px 0px 23px -9px rgba(186, 186, 186, 1);
  box-shadow: 0px 0px 23px -9px rgba(186, 186, 186, 1);
}
.vis {
  background-color: $clr1;
  padding: 1.5rem 2.5rem;
  box-shadow: 0px 13px 49px -37px rgba(0, 0, 0, 0.75);
  h5 {
    font-family: $font-gv;
    font-size: 5rem;
    color: white;

    span {
      font-family: $font-pop;
      font-weight: 500;
      font-size: 2.7rem;
    }
  }
  p {
    font-size: 1.7rem;
    color: white;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 501px) {
  .au1 {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 2rem 0;
  }

  .miss {
    h5 {
      line-height: 5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .au1 {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 2rem 0;
  }

  .miss {
    h5 {
      line-height: 5rem;
    }
  }
}
